{% extends "base.html" %}

{% block content %}
    <div class="large-12 large-centered columns">
        <div class="row">
            <h2>{{ project.title|truncatechars:50 }}
                <small><a href="{% url "project-update" project_id=project.pk %}">edit</a></small>
            </h2>
        </div>
        <div class="row">
            {% if not tickets %}
                <div class="panel callout">
                    <h5>This project doesn't have any tickets</h5>
                </div>
            {% else %}
                <table>
                    <thead>
                    <tr>
                        <th width="1200">Title</th>
                        <th>Assigned</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket.title|truncatechars:50 }}</td>
                            <td>
                                {% for user in ticket.assignees.all %}
                                    {{ user.email }}{% if not forloop.last %},{% endif %}
                                {% empty %}
                                    No assigned users
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{% url "ticket-update" project_id=project.pk ticket_id=ticket.pk %}">
                                    <i class="fi-pencil">

                                    </i>
                                </a>
                            </td>
                            <td>
                                {% if request.user.is_authenticated %}
                                <form method="post"
                                      action="{% url "ticket-delete" project_id=project.pk ticket_id=ticket.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="delete-ticket-button button fi-x"></button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="row">
            <p><a href="{% url "ticket-create" project_id=project.pk %}" class="button">Create ticket</a></p>
        </div>
    </div>
{% endblock %}
